.table-list-options{
	text-align: center !important;
}
.table-list-options .option{
	float:none;
}
.ass_modal {
position: fixed;
top: 20%;
left: 55%;
z-index: 1050;
width: 900px;
height:400px;
display:none;
margin-left:-470px;
}
.ass_modal-header {
background: #2d2d2d;
border-bottom: 1px solid rgba(255, 255, 255, 0.25);
border-top-right-radius: 6px;
border-top-left-radius: 6px;
padding: 9px 15px;
}
.ass_modal-body {
overflow-y: visible;
max-height: 450px;
background: #2d2d2d;
position: relative;
padding: 15px;
}
.ass_modal-footer {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color: #2d2d2d;
border-top-color: rgba(255, 255, 255, 0.25);
box-shadow: none;
padding: 14px 15px 15px;
margin-bottom: 0;
border-top: 1px solid #ddd;
}
.ass_span{
width:100px;}
.ass_font{
padding-left:50px;
padding-bottom: 0px;}
.icon-remove{
font-family: 'ezicon';
}
b {
display: block;
width: 100%;
height: 100%;
background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.ass_btn{
padding: 4px 4px;
width: 120px;
color: white !important;
background-color: #00b662;
line-height: 20px;
border: 1px solid #00b662;
width:70px}
.ass_li{
display:inline-block;
padding-left:70px;
}
#ass_Add{
color: white;
font-size: large;
}
.confirm-btn-keeper{
text-align:center; 
}
.strong_messge{
color:#6D6B6B;
font-size: larger;

}
.ass_IpHost{
display:inline-block;
}
.child_div{
margin-left:0px;
}
.vip_father_label{
width:180px;
}
.child_label{
float:left;
}
.child_IpHost{
 width:100px;
 margin-left:2px;
 margin-top:1px;
}
.radio_encoding{
margin-top:-2px;
margin-right:4px;
}
.radio_encoding.gbk{
margin-left: 20px; 
}
.f5_margin{
	margin-top:20px;
}
.marginVip{
	margin-left:16px;
}
.ass_label_ip{
	margin-left: 60px;
	float:left;
}
.margin_left_60{
	margin-left:60px;
}