    #excludeschedule .nav-tabs > li > a {
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }
    #excludeschedule .bpc-time-exclude-div{
        width: 680px;
        margin-top: 12px;
        margin-left: 15px;
    }
    .name{
        font-size: 14px;
        cursor:pointer;
    }
    .note{
        font-size: 14px; 
        cursor:pointer;
    }
    .title{
        cursor:pointer;
    }
    .delete{
        vertical-align:middle;position: relative;top: 4px;display: none;
    }
    #excludeschedule .bpmc-time-exclude-div{
        background-color:#D1E1E9;
        margin-top: 5px;
    }

    #excludeschedule .tab-content{
        border: 1px solid #CCC; border-top:none
    }
    .bpmc-input-area{
        vertical-align:middle; margin:15px 10px;
    }

    /****************************/
    .app-time-exclude ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .app-time-exclude ul li.group{
        margin-bottom: 24px;
    }

    .app-time-exclude ul.items{
        margin: 15px 0 15px 20px;
    }

    .app-time-exclude ul.items >li{
        margin-bottom: 12px;
    }

    .app-time-exclude .ctl{
        padding-left: 12px;
        margin-right: 4px;
        background:url('../img/icon/expand.png') no-repeat center;
    }

    .app-time-exclude .delete{
        padding-left: 7px;
        background:url('../img/icon/delete_t.png') no-repeat center top;
    }

    .app-time-exclude .ctl.collapse{
        background:url('../img/icon/collapse.png') no-repeat center;
    }

    .app-time-exclude .title{
        font-size: 18px;
    }

    .app-time-exclude .desc{
        font-size: 12px;
        margin-left: 15px;
    }

    /*base.css*/

    .box-field{

    }
    .box-space{
      background:#ffffff;
      padding:0px;
      margin:0px;
    }
    .box-piece{
        background-color: #ffffff;
        padding:20px;
        border:none;
        border-radius: 0px;
        box-shadow:none;
        margin:0px;
    }
    .box-piece-20-30{
        background-color: #ffffff;
        padding:20px 30px;
        border:none;
        border-radius: 0px;
        box-shadow:none;
        margin:0px;
    }
    .box-form{
        padding:50px 0px 60px 0px;
    }
    .box-table{
      margin:30px 10px;
    }
    /*content*/
    .piece-content{
      margin-left:50px;
    }

    .bpmc-time-exclude-div li{
        cursor: pointer;
    }

    /****************************/

    input.bpc-button,.bpc-button{
      display: inline-block;
      width:50px;
      height:30px;
      margin-right:20px;
      border:0px;
      text-indent:-9999px;
      cursor: pointer;
    }
    .bpc-button-save{
      background:url(../img/button/save.png) no-repeat;
    }
    .bpc-button-save.small{
      background:url(../img/button/save_small.png) no-repeat;
    }
    .bpc-button-save.small:active {
      background:url(../img/button/save_small_click.png) no-repeat;
    }
    .bpc-button-save:active {
      background:url(../img/button/save_click.png) no-repeat;
    }
    .bpc-button-cancel{
      background:url(../img/button/cancel.png) no-repeat;
    }
    .bpc-button-cancel.small{
      background:url(../img/button/cancel_small.png) no-repeat;
    }
    .bpc-button-cancel.small:active {
      background:url(../img/button/cancel_small_click.png) no-repeat;
    }
    .bpc-button-cancel:active {
      background:url(../img/button/cancel_click.png) no-repeat;
    }