.jcarousel-container {
  position: absolute;
  width: 108px;
  overflow: hidden;
  z-index: 59;
  top: 120px;
  left: 13px;
  bottom: 15px;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
}
.complete .jcarousel-container {
  opacity: 1;
}
.jcarousel {
  position: absolute;
  top: 17px;
  bottom: 17px;
  overflow: hidden;
}
.jcarousel ul {
  height: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  /* Required only for block elements like <li>'s */
  width: 104px;
  height: 75px;
  display: block;
  margin: 0px 2px 5px 2px;
  color: #FFF;
  text-align: center;
}
.inactive {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.jcarousel-controls {
  width: 108px;
  height: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border: 1px solid transparent;
  position: absolute;
  left: 0px;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 4px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.jcarousel-controls:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.jcarousel-controls.prev {
  top: 0px;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
.jcarousel-controls.next {
  line-height: 23px;
  bottom: 0px;
  box-shadow: 0px -5px 10px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -5px 10px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -5px 10px -4px rgba(0, 0, 0, 0.1);
}
.jcarousel-controls.prev.inactive {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.jcarousel-controls.next.inactive {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.jcarousel-list > li > *:hover {
  box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.jcarousel-list > li > .node {
  left: 5px;
}
.jcarousel-horizontal {
  overflow: hidden;
  height: 100%;
}
.jcarousel-horizontal-container {
  height: 100%;
  position: relative;
}
.jcarousel-horizontal-pagination {
  position: absolute;
  bottom: -3px;
  right: -4px;
  border: 1px solid #ccc;
  background-color: rgba(240, 240, 240, 0.8);
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
}
.jcarousel-horizontal-container:hover .jcarousel-horizontal-pagination {
  opacity: 1;
}
.jcarousel-horizontal-pagination a {
  text-decoration: none;
  font-size: 12px;
  line-height: 13px;
  min-width: 14px;
  text-align: center;
  color: #888;
  vertical-align: middle;
  display: none;
  padding: 0px 3px;
  cursor: default;
}
.jcarousel-horizontal-pagination a.active {
  display: block;
  opacity: 1;
}
.jcarousel-horizontal ul {
  height: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel-horizontal ul li {
  height: 65px;
}
