html, body {
    font-family: "Microsoft Yahei", '\5b8b\4f53', Helvetica, Arial, sans-serif !important;
    background: #fff url('../images/login/background.jpg') no-repeat fixed top;
}

h1 {
    font-size: 20px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Telex', sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #317EAC;
    text-rendering: optimizelegibility;
}

table td {
    vertical-align: middle;
}

div.login {
    width: 355px;
    height: 215px;
    background: #fff;
    margin: 140px auto auto auto;
}

div.login div.title {
    padding: 11px 15px;
    line-height: 30px;
    font-size: 22px;
    color: #fff;
    background: #00A2E8;
}

div.login table.form {
    font-size: 14px;
    width: 100%;
}

td.logo {
    width: 40%;
    border-left: #ccc 1px solid;
}

td.label {
    padding: 5px;
    vertical-align: middle;
    text-align: right;
}

table.content {
    margin-left: 15px;
    width: 200px;
}

table.content td {
    padding: 3px 5px;
}

.form input[type='text'], .form input[type='password'] {
    width: 120px;
}

td.logo img {
    margin: 0px 0 0 20px
}

input[type="checkbox"] {
    border: 0;
}

div.error {
    color: red;
    font-size: 13px;
    padding: 4px 20px;
    height: 12px;
}

div.modal-body {
    padding: 15px 0;
}

div.modal-body input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
}

div.control-group > label.control-label {
    float: left;
    width: 80px;
    padding-top: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.control-group {
    margin-bottom: 10px;
}

div.description {
    font-size: 14px;
    line-height: 20px;
}

a.submit, div.modal-body input.submit {
    text-decoration: none;
    padding: 4px 10px 6px;
    color: #fff;
    display: inline-block;
}

.btn-success {
    background-color: #5bb75b;
    border-color: #5bb75b;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

p.help-block {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: red;
    font-size: 14px;
    margin-top: 0px;
}