#sidebar-ul .active i.icon.option{display:block;background-image:url(../../img/bpmc-icon-active.png)}
#sidebar-ul a:hover i.icon.option{display:block;background-image:url(../../img/bpmc-icon-active.png)}
#sidebar-ul i.icon.option{display:block;background-image:url(../../img/bpmc-icon-nav.png)}
#header-action i.icon.option{display:inline-block;vertical-align:top;background-image:url(../../img/bpmc-icon-nav.png)}
#header-action a:hover i.icon.option{background-image:url(../../img/bpmc-icon-active.png)}
#header-action .open i.icon.option{background-image:url(../../img/bpmc-icon-active.png)}
.option{display:block;}
i.icon.option{background-image:url(../../img/bpmc-icon.png)}
a.icon.option{background-image:url(../../img/bpmc-icon.png)}
.icon.option{width:24px;height:24px;}
.icon.account{background-position:0 0}
.icon.alarm{background-position:-25px 0}
.icon.analysis{width:26px;background-position:-50px 0}
.icon.app-performance{background-position:-77px 0}
.icon.config{background-position:-102px 0}
.icon.dashboard{background-position:-127px 0}
.icon.home{background-position:-152px 0}
.icon.server-performance{background-position:-177px 0}
.icon.sysconfig{background-position:-202px 0}
.icon.ue{background-position:-227px 0}
.icon.ialert{background-position:-50px 0}
.icon.copy{background-position:-150px 0}
.icon.net-performance{background-position:-200px 0}
.icon.online{background-position:-225px 0}
.icon.online.active{background-position:-250px 0}
.icon.remove{background-position:-275px 0}
.icon.set{background-position:-325px 0}
.icon.share{background-position:-350px 0}
.icon.share.active{background-position:-375px 0}
.icon.sort{width:19px;height:14px;background-position:-450px 0}
.icon.sort-asc{width:19px;height:4px;background-position:-450px -15px}
.icon.sort-desc{width:19px;height:4px;background-position:-450px -20px}
i.risk{width:26px;height:18px;display:block}
.risk.middle{background-image:url(../../img/alert-middle.png)}
.risk.low{background-image:url(../../img/alert-low.png)}
.risk.all{background-image:url(../../img/alert-all.png)}
.risk.high{background-image:url(../../img/alert-high.png)}
i.untreated{display:block; background-image:url(../../img/untreated.png); width:16px; height:16px;}
i.treated{display:block; background-image:url(../../img/treated.png); width:16px; height:16px;}
i.all-alert{display:block; background-image:url(../../img/all.png); width:16px; height:16px;}
i.health{display:block; background-image:url(../../img/health.png); width:20px; height:20px;}
i.alert-title{display:block; background-image:url(../../img/alert-title.png); width:20px; height:20px;}
i.ue{display:block; background-image:url(../../img/ue.png); width:20px; height:20px;}
i.path-title{display:block;background-image:url(../../img/path-title.png);width:20px;height:20px;}
i.port{display:block; background-image:url(../../img/port.png); width:24px; height:24px; opacity:0.6;}
i.path{display:block; background-image:url(../../img/path.png); width:24px; height:24px; opacity:0.8;}
i.play{display:block;width:24px; height:24px; background-image:url(../../img/play.png)}
i.pause{display:block;width:24px; height:24px; background-image:url(../../img/pause.png)}
i.fast-forward{display:block;width:24px; height:24px; background-image:url(../../img/fast-forward.png)}
i.stop{display:block;width:24px; height:24px; background-image:url(../../img/stop.png)}
i.timeline-picker{display:block;width:24px; height:24px; background-image:url(../../img/timeline-picker.png)}
i.calendar{display:block;width:24px; height:24px; background-image:url(../../img/calendar.png)}
i.fine{display:block;width:24px; height:24px; background-image:url(../../img/fine.png)}
i.warning{display:block;width:24px; height:24px; background-image:url(../../img/warning.png)}
i.location{display:block;width:24px; height:24px; background-image:url(../images/alert/icon-location.png)}
i.location-source{display:block;width:24px; height:24px; background-image:url(../images/alert/icon-location-source.png)}
.dialog-cancel{background-image:url(../../img/cancel.png);}
.dialog-save{background-image:url(../../img/save.png);}
.dialog-cancel-white{background-image:url(../../img/cancel-white.png);}
.dialog-save-white{background-image:url(../../img/save-white.png);}
i.icon-alarm{display:inline-block; background-image:url(../../img/alarm-off.png); height:14px; width:14px; margin-top:1px; line-height:14px; vertical-align:text-top; background-position:0px 0px;}
i.icon-alarm.on{background-image:url(../../img/alarm-on.png);}
i.icon-pin{display:block; background-image:url(../../img/pin.png); height:16px; width:16px; background-position:0px 0px; margin-top:0px;}
i.icon-expand{display:inline-block; background-image:url(../../img/expand.png); height:14px; width:14px; background-position:0px 0px;}
i.icon-detail{display:inline-block; background-image:url(../../img/detail.png); height:14px; width:14px; background-position:0px 0px;}
i.icon-confirm-alert{display:inline-block; background-image:url(../../img/confirm-alert.png); height:32px; width:36px; background-position:0px 0px;}
i.icon-widget-alarm{display:block; background-image:url(../../img/alarm.png); height:65px; width:65px; background-position:0px 0px;}
i.icon-save-mini{display:inline-block; background-image:url(../../img/save-mini.png) !important; height:14px; width:14px; background-position:0px 0px;}
i.icon-clound-add{display:block; background-image:url(../../img/CloudAdd.png); height:14px; width:14px; background-position:0px 0px;}
i.icon-check-cover{display:inline-block; background-position:0px 0px; background-image:url(../../img/check-cover.png); height:14px; width:14px;}
i.icon-laptop{display:inline-block; background-position:0px 0px; background-image:url(../../img/laptop.png); height:14px; width:14px;}
i.icon-hdd-o{display:inline-block; background-position:0px 0px; background-image:url(../../img/hdd-o.png); height:14px; width:14px;}
.icon.option.goto-analysis{background-position:0 0; background-image:url(../../img/goto-analysis.png); height:24px; width:24px;}
/* 对话框内图标修正 */
.modal.modal-blue i.icon-filter{background-image: url(../../img/glyphicons-halflings-white.png);}
.modal.modal-blue i.icon-save-mini{ background-image:url(../../img/save-mini-white.png) !important;}
/* 弹出菜单内图标修正 */
.for-dark-theme i.icon-save-mini{ background-image:url(../../img/save-mini-white.png) !important;}

i.icon-clipboard{display:inline-block; background-image:url(../../img/clipboard.png); height:14px; width:14px; margin-top:1px; line-height:14px; vertical-align:text-top; background-position:0px 0px;}
i.icon-coin-yen{display:inline-block; background-image:url(../../img/coin-yen.png); height:14px; width:14px; margin-top:1px; line-height:14px; vertical-align:text-top; background-position:0px 0px;}
i.icon-stopwatch{display:inline-block; background-image:url(../../img/stopwatch.png); height:14px; width:14px; margin-top:1px; line-height:14px; vertical-align:text-top; background-position:0px 0px;}
i.icon-tab{display:inline-block; background-image:url(../../img/tab.png); height:14px; width:14px; margin-top:1px; line-height:14px; vertical-align:text-top; background-position:0px 0px;}