div.slider {
  display: none;
}
table.dataTable tbody td.no-padding {
  padding: 0;
}
tr[role="row"] {
  cursor: pointer;
}
tr[role="row"] > td {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
tr[role="row"]:first-child > td {
  border-top: none;
}
tr[role="row"] > th {
  font-size: 13px;
  font-weight: bold;
}
tr[role="row"] > td {
  font-size: 13px;
}
td.no-padding {
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.ass_tr td.no-padding {
  z-index: 0;
}
.ass_tr {
  background-color: rgba(0, 0, 0, 0.25);
}
.slider {
  margin: 5px 10px 15px;
  padding-top: 10px;
  border-top: 1px solid #191919;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  position: relative;
}
.slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3d3d3d;
}
table.dataTable .slider tbody tr {
  background-color: transparent;
}
.shown {
  background-color: #2d2d2d !important;
}
.dataTable a[href] {
  color: #2e8bcc;
  text-decoration: none;
}
.dataTable a[href]:hover {
  text-decoration: underline;
}
table.dataTable .slider tbody th,
table.dataTable .slider tbody td {
  padding: 4px 6px;
  line-height: 14px;
  white-space: nowrap;
}
.slider-action-link {
  line-height: 22px;
}
.slider-data-item-container {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  min-height: 16px;
  line-height: 16px;
  padding: 3px 12px 3px 0px;
}
.slider-data-item-container > span {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 16px;
}
.slider-data-item-container > span:first-child {
  color: rgba(255, 255, 255, 0.5);
}
.slider-data-item-container > span:last-child {
  padding-right: 12px;
}
.slider-data-item-container:last-child > span:last-child {
  border: none;
}
.slider-data-item-container.without-divider > span:last-child {
  padding-right: 0;
  border-right: none;
  color: #ffffff;
}
.shown > td {
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.slider-inner-table tr > td:first-child {
  min-width: 70px;
}
.slider-inner-table tr > td:last-child {
  white-space: normal !important;
}
.slider-inner-table td {
  vertical-align: top;
}
.slider-inner-table tr > td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.slider-inner-table tr:last-child > td {
  border-bottom: none;
}
.slider-inner-table-title {
  font-weight: bold;
  color: #819073;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 0px;
  display: inline-block;
}
.details-control {
  position: relative;
}
thead td.details-control,
thead th.details-control {
  border-right: none !important;
}
td.details-control:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-left-color: rgba(255, 255, 255, 0.8);
  top: 50%;
  margin-top: -5px;
  left: 50%;
}
.shown td.details-control:after {
  margin-top: -7.5px;
  transform-origin: left center;
  -webkit-transform-origin: left center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.ez-dataTables-area {
  padding-top: 3px;
  padding-bottom: 5px;
}
.ez-dataTables-area.bottom {
  padding: 0px;
  background-color: #3d3d3d;
}
.ez-dataTables-area label {
  margin-bottom: 0;
}
.ez-dataTables-area select,
.ez-dataTables-area input {
  margin-bottom: 0;
}
.ez-dataTables-area.with-background {
  background-color: #2d2d2d;
  padding: 10px;
}
#ass_table .slider {
  border-top: none;
}
#ass_table .slider:before {
  display: none;
}
.length-ctrl {
  margin-left: 10px;
  margin-top: 7px;
}
