.node {
  display: inline-block;
  width: 180px;
  position: relative;
  margin: 5px 0;
  vertical-align: middle;
}
.tplot div.node div.body {
  height: 100%;
}
.tplot .showMode {
  cursor: default;
}
.mini-node {
  width: 130px;
  height: 70px;
  margin: 5px 5px 22px;
}
.for-time-label .tplot .node .title {
  font-weight: normal;
  max-width: 120%;
}
.for-time-label .tplot .node.mini-node .title {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  bottom: -20px;
}
.tplot .showMode .body {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.tplot .showMode .messages .message:after {
  height: 1px;
}
.tplot .showMode .messages .message:before {
  width: 1px;
}
.tplot .showMode.mini-node .messages .message:after {
  left: 7px;
  right: 7px;
}
.tplot .showMode.mini-node .messages .message:before {
  top: 7px;
  bottom: 7px;
}
.tplot div.node.mini-node.three div.body div.messages div.message:first-child span.message-value {
  font-size: 13px;
  line-height: 28px;
  padding: 0 2px;
  /*max-width: 80px;*/
}
.tplot div.node.mini-node.three div.body div.messages div.message:first-child span.message-unit {
  line-height: 28px;
}
.tplot div.node.mini-node div.body div.messages div.message span.message-value {
  font-size: 14px;
  line-height: 24px;
  padding: 0 2px;
}
.tplot div.node.mini-node div.body div.messages div.message span.message-unit {
  line-height: 26px;
}
.ballance .remove-active-alarm {
  color: #ffffff;
}
.tplot .ballance .body {
  background-color: #0099ee;
  box-shadow: none;
}
.ballance .message-value {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.tplot .ballance.L1 .body {
  background-color: #00c797;
}
.tplot .ballance.L2 .body {
  background-color: #72d572;
}
.tplot .ballance.H1 .body {
  background-color: #ff8a65;
}
.tplot .ballance.H2 .body {
  background-color: #f36c60;
}
.mini-node-overview {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 6px;
}
.overview-data-unit {
  color: rgba(255, 255, 255, 0.5);
}
.mini-node-overview.ballance {
  border-color: #0099ee;
}
.mini-node-overview.ballance.L1 {
  border-color: #00c797;
}
.mini-node-overview.ballance.L2 {
  border-color: #72d572;
}
.mini-node-overview.ballance.H1 {
  border-color: #ff8a65;
}
.mini-node-overview.ballance.H2 {
  border-color: #f36c60;
}
/* F5 item */
.list-item-container {
  background-color: #2d2d2d;
  border-radius: 4px;
  padding: 4px 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}
.list-item-container + .list-item-container {
  margin-top: 8px;
}
.list-item-header {
  line-height: 24px;
  font-size: 0;
  cursor: pointer;
  font-weight: normal;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.list-item-body {
  padding: 5px 20px 35px;
  text-align: center;
  font-size: 0;
  display: none;
}
.list-item-header > span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  font-size: 13px;
  min-width: 11em;
}
.list-item-header > i,
.device-title > i {
  -moz-transition: transform 200ms;
  -webkit-transition: transform 200ms;
  transition: transform 200ms;
  font-size: 13px;
  width: 1em;
  height: 24px;
}
.list-item-overview {
  display: flex;
  line-height: inherit;
  margin-left: 20px;
  align-items: center;
}
.open .list-item-overview {
  display: none;
}
.list-item-header-data-container {
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  padding: 0 12px;
  flex-shrink: 0;
}
.list-item-header-data-container + .list-item-header-data-container {
  border-left: 1px dashed rgba(255, 255, 255, 0.25);
}
.item-data {
  font-size: 18px;
  line-height: 12px;
  vertical-align: top;
  padding: 0 2px;
}
.item-data-unit {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 12px;
  vertical-align: super;
  padding: 0 2px;
  margin-left: 3px;
}
.items-contianer {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin-left: 20px;
}
.open .list-item-header > i {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.open .list-item-body {
  display: block;
}
.list-item-body > * {
  display: inline-block;
  vertical-align: middle;
}
.conn-line {
  height: 2px;
  width: 92px;
  margin: 10px;
  background-color: #0099ee;
}
.conn-line.no-data {
  background-color: rgba(255, 255, 255, 0.5);
}
.list-item-fake-node {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.list-item-inner-container {
  position: relative;
  border-radius: 10px;
  padding: 5px;
  max-width: 60%;
  border: 1px dashed rgba(255, 255, 255, 0.25);
  text-align: left;
}
.list-item-inner-title {
  max-width: 150%;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: absolute;
  left: 50%;
  bottom: -30px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* F5列表页 */
.f5device-list {
  background-color: #2d2d2d;
  width: 100%;
  padding: 2px 6px;
  box-shadow: 0 2px 0.15rem rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}
.device-ip {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  min-width: 8em;
  width: 25em;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  vertical-align: bottom;
}
.device-number {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 60px;
  font-size: 10px;
  display: inline-block;
}
.device-number-data {
  color: #ffffff;
  margin-left: 5px;
  display: inline-block;
}
.device-flow {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 60px;
  font-size: 10px;
  display: inline-block;
}
.f5device-list.open .icon-chevron-right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.f5device-list.open .f5device-list-content {
  display: block;
}
.f5device-list-content {
  display: none;
}
.device-title {
  line-height: 24px;
}
.device-title .title {
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
  border-right: 1px dashed rgba(255, 255, 255, 0.25);
  line-height: 1;
}
.device-highChart {
  display: inline-block;
  width: 100px;
  height: 30px;
  vertical-align: bottom;
}
.f5device-list-item {
  margin: 0 10px 10px 15px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/* F5概览页 */
.f5list-widget {
  float: left;
  background-color: #2d2d2d;
  width: 23%;
  height: 220px;
  box-shadow: 0 2px 0.15rem rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.f5list-widget-title {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
}
.f5list-widget-data {
  width: 100%;
  margin-top: 60px;
  text-align: center;
}
.f5list-widget-data .value {
  color: #ffffff;
  font-size: 100px;
}
.f5list-widget-data .title {
  color: rgba(255, 255, 255, 0.5);
}
