.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.ui-resizable-e {
	width: 5px;
	right: -2px;
}

.ui-resizable-s {
	height: 5px;
	bottom: -2px;
}

.ui-resizable-handle {
	background-color: transparent;
}
