.cm-item-container {
  width: 19.7em;
  height: 15.7em;
  box-sizing: border-box;
  margin: 0.35em 0.7em 0.35em 0 !important;
}
.bm-item-container {
  width: 19.7em;
  /*height: 12em;*/
  box-sizing: border-box;
  margin: 0.35em 0.7em 0.35em 0 !important;
}
.monitor-item-container-monitor {
  background: #2d2d2d;
  border-radius: 0.3em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0.7em 1em 0.42em 0.42em;
  position: relative;
  margin: 0.57em;
  display: inline-block;
}
.monitor-item-title-container_monitor {
  margin-bottom: 0.29em;
  display: flex;
  align-items: center;
}
.bm-item-title {
  font-size: 1em !important;
  width: 10em;
}
.monitor-item-title_monitor {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 1.1em;
  flex-grow: 1;
  line-height:1.2em;
}
.monitor-item-content {
  text-align: right;
  line-height: 1.2em;
}
.monitor-data-unit {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 1.6em;
}
.cm-unit-cout {
  padding-top: 1.7em;
}
.cm-unit-amount {
  padding-top: 1.35em;
}
.cm-unit-latency {
  padding-top: 1em;
}
.monitor-item-count {
  margin-top: .3em;
  color: #3a9aff;
  font-size: 2em;
  display: inline-block;
  text-decoration: none;
}
.monitor-item-count:hover{
  text-decoration: none;
  color: rgba(57,154,255,.78) !important;
}
.monitor-item-amount {
  margin-top: .15em;
  color: #00e676;
  font-size: 1.8em;
  display: inline-block;
  text-decoration: none;
}
.monitor-item-amount:hover{
  cursor: pointer;
  color: rgba(0,230,118,.78) !important;
  text-decoration: none;
}
.cm-item-latency {
  margin-top: 0.08em;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  display: inline-block;
}
.monitor-layout {
  flex-grow: 1;
  position: relative;
  font-size: 1em;
  margin-left: 20px;
  box-sizing: border-box;
}
.monitor-title {
  color: rgba(255, 255, 255, 0.8);
}
/**告警*/
.monitor-alarm {
  box-sizing: border-box;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: none;
  line-height: 1.2em;
  float: right;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  cursor: pointer;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-emergency {
  background-color: #cc0000;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-alert {
  background-color: #f23005;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-critical {
  background-color: #ff8900;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-error {
  background-color: #ffb800;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-warning {
  background-color: #fff100;
  color: #2d2d2d;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-notice {
  background-color: #e4e1a8;
  color: #2d2d2d;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-info {
  background-color: #b3d465;
  color: #2d2d2d;
}
.monitor-alarm.ezsoanr-monitor-alarm-level-debug {
  background-color: #13b5b1;
}
.monitor-alarm.monitor-warning {
  display: inline-block;
}
.cm-item-load {
  position: absolute;
  top: 12em;
  right: 4.57em;
}
/*进度条*/
.cm-wrapper .cm-load-bar {
  width: 13.5em;
  height: 0.5em;
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  margin-bottom: 1.5em;
  margin-right: 0.6em;
}
.cm-wrapper .cm-load-bar-inner {
  height: 99%;
  width: 0%;
  border-radius: inherit;
}
.cm-wrapper .cm-bar-title {
  position: absolute;
  right: -4em;
  top: -0.65em;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.cm-wrapper .cm-blue {
  background: #4e7ac7;
}
.cm-wrapper .cm-green {
  background: #02c342;
}
.cm-wrapper .cm-red {
  background: #fe1d3d;
}
.bm-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.5em;
  display: inline-block;
  text-align: right;
}
#body {
  height: 100%;
}
#page-container {
  height: 100%;
}
#main-container {
  height: 100%;
}
#main-container > .row-fluid {
  height: 100%;
}
#main-container > .row-fluid > .span12 {
  height: 100%;
}
#main-container > .row-fluid > .span12 > div {
  display: flex !important;
  flex-direction: column ;
  height: 100%;
}
#monitorChartContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.drag-group-content {
  -webkit-user-select: none;
  line-height: 1.3em;

}
 .drag-group-parent {
  position: relative;
   padding-left: 1em;
   line-height: 1.5em;
}
.drag-group-parent  label {
  display: inline-block !important;
  color:#fff;
}
.disabledrag label{
  color: #666 !important;
}

 .group-remove  {
  float: right;
}


 .drag-group-children {
   margin-left: 1.6em;
   line-height: 1.5em;
   min-height: 0.4em;
}


.thumb {
  width: 0;
  height: 0;
  padding: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #9a9a9a;
  border-right: 0;
  position: absolute;
  top: 0.45em;
  left: 0.1em;
}

.expanded {
  width: 0;
  height: 0;
  padding: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #9a9a9a;
  border-bottom: 0;
  position: absolute;
  top: 0.5em;
  left: 0.1em;
}

.drag-check  + span {
  -webkit-appearance: none;
  -webkit-user-select: none;
  padding: 0.5em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: background 300ms linear, color 300ms linear;
  cursor: pointer;
}
.drag-check  + span::before {
   content: ' ';
   border-radius: 5px;
   width: 1em;
   height: 1em;
   position: absolute;
   top: 0;
   left: 0;
   box-shadow: inset 0 0 0 0.1em #2db7f5;
   transition: box-shadow 300ms;
 }

.drag-check:checked + span::before {
  content: ' ';
  box-shadow: inset 0 0 0 0.6em #2db7f5;
}

.drag-check:checked + span::after {
  content: '\2714';
  position: absolute;
  width: 1.1em;
  top: 0;
  color: #fff;
  left: 0;
  line-height: 1.1em;
  text-align: center;
}
.checkdisabled:before {
  content: ' ';
  border-radius: 5px;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 0.1em rgba(255, 255, 255, 0.6) !important;
  transition: box-shadow 300ms;
}

.drag-check :indeterminate + span::after {
  content: '';
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0 0 0 0.25em #2db7f5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}


.drag-group-container {
  font-size: 16px;
  width: 85%;
  height: 300px;
  margin: 20px auto;
  overflow-y: auto;
  color: #fff;
}

.drag-group-header {
  line-height: 1.5em;
  color: #fff;
}

.drag-group-content {
  -webkit-user-select: none;
  line-height: 1.3em;
}

.drag-group-parent {
  position: relative;
  line-height: 1.5em;
}
.drag-check {
  display: none !important;
}

.merge-labels {
  background: transparent;
  outline: none;
  display: inline-block;
  border: none;
  margin: 0;
}
.merge-labels:focus {
  border-bottom: 1px solid #2db7f5;
}
.group-remove {
  float: right;
  margin-left:0.3em;
}

.disabledrag label {
  color: #666;
}

.ui-state-highlight {
  height: 1.3em;
  line-height: 1.3em;
  width: 80%;
  margin-left: 1em;
  border: 1px solid #2db7f5;
  background: transparent;
}