.switch-contianer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.switch-inner-container {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 10% 0;
}
.switch-inner-container.right {
  left: 50%;
  right: 0;
}
.switch-body {
  height: 100%;
  min-height: 280px;
  position: relative;
}
.right .switch-body {
  border-left: 1px dashed rgba(255, 255, 255, 0.25);
}
.active.switch-inner-container {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}
.active .switch-body,
.active + .right .switch-body {
  border-left-color: transparent;
}
.switch-title {
  font-size: 40px;
  line-height: 90px;
  height: 90px;
}
.switch-title-logo {
  display: inline-block;
  height: 90px;
  vertical-align: middle;
  background-size: contain;
}
.switch-title-text {
  display: inline-block;
  vertical-align: middle;
}
.left .switch-title-logo {
  width: 140px;
  background-image: url('../../img/left.png');
}
.right .switch-title-logo {
  width: 80px;
  background-image: url('../../img/right.png');
}
.left .switch-title-text,
.left .switch-action {
  color: #04db8c;
}
.right .switch-title-text,
.right .switch-action {
  color: #52aafc;
}
.switch-data-container {
  position: absolute;
  width: 100%;
  height: 121px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.switch-data {
  display: inline-block;
}
.switch-data-item {
  padding: 15px;
  font-size: 20px;
}
.switch-data-item + .switch-data-item {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.data-count {
  font-size: 36px;
  color: #ffffff;
}
.switch-action-container {
  position: absolute;
  margin-top: 220px;
  width: 100%;
  bottom: 30px;
}
.switch-action {
  font-size: 22px;
  line-height: 1;
  border-radius: 12px;
  padding: 8px 32px;
  background-color: currentColor;
  text-decoration: none !important;
  border: 1px solid currentColor;
  display: inline-block;
}
.switch-action:hover {
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.75);
}
.switch-action:after {
  color: #ffffff;
  content: attr(data-action-text);
}
.active .switch-action {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  cursor: default;
}
.active .switch-action:hover {
  box-shadow: none;
}
.active .switch-action:after {
  color: rgba(255, 255, 255, 0.5);
  content: attr(data-text);
}
