/*不添加的话页面样式变乱*/
html {
  font-size: 20px;
  /*缩放，最低20px*/
}
/*切换查询范围*/
.dropdown-changerange {
  display: inline-block;
  font-size: 12px;
  text-align: left;
  float: none;
  margin-left: 2px;
}
/*下拉框*/
.dropdown-changerange-toggle-a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.5);
}
.dropdown-menu-ul {
  min-width: 90px;
}
.js-set-app {
  margin-top: 0;
}
/*切换*/
.manageApps-body {
  padding: 0 10px;
}
.manageApps-switch {
  margin-left: 10px;
  display: none;
}
.manageApps-zoomin {
  margin: 0 -1px 0 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: transparent !important;
}
.manageApps-zoomin + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*管理分组*/
.manageAppGroups-body {
  padding: 0 10px;
}
/*分组*/
.app-group-clone-template-body {
  min-height: 120px;
  min-width: 300px;
}
/*交易表格*/
.message-table-container {
  width: 1200px;
  margin-left: -600px;
  display: none;
}
.createAppGroup-group {
  margin-top: 20px;
}
