.chosen-container-single .chosen-single {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 28px;
  line-height: 28px;
  border-radius: 0px;
  background: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.float-tools-bar .chosen-container .chosen-drop {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  border-color: #eaeaea;
}
.chosen-container-single .chosen-drop {
  border-radius: 0px;
}
.chosen-container-single .chosen-single span {
  line-height: 28px;
  margin-right: 20px;
}
#container-actionbar .action-container .chosen-container-single .chosen-single span {
  line-height: 28px;
}
.chosen-container-single .chosen-single div b {
  margin-top: 2px;
}
.chosen-container-single .chosen-single abbr {
  background: url('chosen-sprite.png') -42px 1px no-repeat;
}
.chosen-container-single .chosen-single div b {
  background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search input[type="text"] {
  line-height: 17px;
  height: 25px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  background: transparent url('chosen-sprite.png') no-repeat 100% -21px;
  background: url('chosen-sprite.png') no-repeat 100% -21px;
  border-top-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url('chosen-sprite.png') -42px 1px no-repeat;
}
.chosen-rtl .chosen-search input[type="text"] {
  background: transparent url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)) 0px 0px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%) 0px 0px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%) 0px 0px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%) 0px 0px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%) 0px 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
  }
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #eaeaea;
  color: rgba(0, 0, 0, 0.7);
}
#container-actionbar .action-container .chosen-container-single .chosen-search input[type="text"] {
  width: 100%;
  line-height: 17px;
  height: 25px;
  font-size: 15px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.chzn-container .chzn-results .group-result {
  color: #333;
}
.chosen-container .chosen-drop {
  border: 1px solid #ffffff;
  border-top: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.chosen-container-multi .chosen-choices {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color: transparent;
  background-image: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.chosen-container-active .chosen-choices {
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
}
.chosen-container-multi .chosen-drop .result-selected {
  color: rgba(0, 0, 0, 0.25);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: rgba(0, 0, 0, 0.7) !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.7);
  height: 16px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"].default {
  color: rgba(0, 0, 0, 0.5) !important;
}
.chosen-container {
  vertical-align: top;
}
.table-tools-bar .chosen-container {
  margin-top: 4px;
}
.table-tools-bar .chosen-container-single .chosen-single {
  height: 25px;
  line-height: 25px;
}
.table-tools-bar .chosen-container-single .chosen-single span {
  line-height: 25px;
}
.chosen-container .chosen-results li em {
  text-decoration: underline;
  color: #fe7f39;
}
.chosen-container .chosen-results li.group-option.streams-type {
  padding-right: 15px;
}
.chosen-container .chosen-results li.alarms-type {
  padding-right: 20px;
}
.chosen-container-multi .chosen-choices li.search-choice {
  border-color: #dadada;
  background-image: none;
  box-shadow: none;
  background-color: #dadada;
  color: rgba(0, 0, 0, 0.7);
}
.chosen-container .chosen-results li.highlighted {
  background-image: none;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
select.chosen-select option {
  white-space: normal;
  word-break: break-all;
}
.chosen-container .chosen-results li.disabled-result {
  color: #b3bdd0;
  opacity: 0.3;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 50%;
  margin-top: -6px;
}
.chosen-container-multi .chosen-results {
  margin: 0 4px 4px 4px;
  padding: 0;
}
