.graph-container-body{
	position: relative;
	display:none;
	background-color:#ffffff;
	border:1px solid #bcbdbd;
	margin-top:-16px;
	margin-bottom:18px;
}

.detailnode-tab{
	position:relative;
	margin-top:-26px;
}
/*交易表格*/
.messageTable{
	display: none;
	width:900px;
	margin-left:-450px;
}
.messageTable-body{
	width:100%;
}

.graph-container-body{
	height:110px;
	margin-bottom: 10px;
}

.tab-content-flow{
	overflow: visible;
}