.si-show{
	margin-bottom:0px;
	background-color:transparent;
}

.alarmcategoryList{
	width: 130px; 
	max-height:300px;
	overflow:hidden;
}

.in-container-style{
	padding:0px;
}
.in-container-body{
	border:none;
	padding:2px;
}

.plot-frame-flow{
	overflow:hidden;
}
.plot-frame-zoom{
	padding:15000px;
	margin-left:-15000px;
	margin-top:-15000px;
}